.banner_body {
  display: flex;
  padding-left: 1.6em;
  margin-bottom: 1em;
}
.banner {
  height: 55vh;
}
.bannerDetails {
  color: white;
  margin-left: 5%;
  padding-top: 5%;
  text-align: left;
  max-width: 500px;
}
.btn {
  background-color: #0f79af;
  border: 1px solid #0f79af;
  display: inline-block;
  width: 40%;
  font-size: 1.1rem;
  border-radius: 3px;
  padding: 0.6em 0.5em;
  margin: 1em 1em 1em 0;
  color: white;
}
.btn:hover {
  cursor: pointer;
}
@media (max-width: 600px) {
  .banner_body {
    padding-left: 0;
  }
}
